tools/sports/espn-get-nhl-schedule/workflow.json
{
  "name": "espn_get_nhl_schedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espn_get_nhl_schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "webhookId": "espn_get_nhl_schedule",
      "notes": "Get upcoming games for an NHL team. Required parameter: team (e.g., 'Canucks', 'Maple Leafs', 'TOR'). Examples: 'when do the Canucks play next', 'Leafs schedule', 'next Oilers game'.",
      "id": "88aeb11b-cd86-42e5-85b7-afcfc7e48b64"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.item.json.body || {};\nconst teamQuery = webhookData.team ? webhookData.team.toLowerCase() : null;\n\nif (!teamQuery) {\n  throw new Error('team parameter is required');\n}\n\n// NHL team abbreviations lookup\nconst teams = {\n  'ducks': 'ana', 'anaheim': 'ana',\n  'coyotes': 'ari', 'arizona': 'ari',\n  'bruins': 'bos', 'boston': 'bos',\n  'sabres': 'buf', 'buffalo': 'buf',\n  'flames': 'cgy', 'calgary': 'cgy',\n  'hurricanes': 'car', 'carolina': 'car',\n  'blackhawks': 'chi', 'chicago': 'chi',\n  'avalanche': 'col', 'colorado': 'col',\n  'blue jackets': 'cbj', 'columbus': 'cbj',\n  'stars': 'dal', 'dallas': 'dal',\n  'red wings': 'det', 'detroit': 'det',\n  'oilers': 'edm', 'edmonton': 'edm',\n  'panthers': 'fla', 'florida': 'fla',\n  'kings': 'la', 'los angeles': 'la',\n  'wild': 'min', 'minnesota': 'min',\n  'canadiens': 'mtl', 'montreal': 'mtl', 'habs': 'mtl',\n  'predators': 'nsh', 'nashville': 'nsh',\n  'devils': 'nj', 'new jersey': 'nj',\n  'islanders': 'nyi', 'new york islanders': 'nyi',\n  'rangers': 'nyr', 'new york rangers': 'nyr',\n  'senators': 'ott', 'ottawa': 'ott',\n  'flyers': 'phi', 'philadelphia': 'phi',\n  'penguins': 'pit', 'pittsburgh': 'pit',\n  'sharks': 'sj', 'san jose': 'sj',\n  'kraken': 'sea', 'seattle': 'sea',\n  'blues': 'stl', 'st louis': 'stl', 'st. louis': 'stl',\n  'lightning': 'tb', 'tampa': 'tb', 'tampa bay': 'tb',\n  'maple leafs': 'tor', 'leafs': 'tor', 'toronto': 'tor',\n  'canucks': 'van', 'vancouver': 'van',\n  'golden knights': 'vgk', 'vegas': 'vgk',\n  'capitals': 'wsh', 'washington': 'wsh', 'caps': 'wsh',\n  'jets': 'wpg', 'winnipeg': 'wpg'\n};\n\nlet abbr = teams[teamQuery] || teamQuery;\nif (abbr.length > 3) abbr = null;\n\nif (!abbr) {\n  throw new Error('Could not find team: ' + teamQuery);\n}\n\nreturn [{ json: { abbr: abbr, teamQuery: teamQuery } }];"
      },
      "name": "Parse Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "id": "a84d832f-f2ae-40ff-9dfc-31ecbec8094b"
    },
    {
      "parameters": {
        "url": "=https://site.api.espn.com/apis/site/v2/sports/hockey/nhl/teams/{{ $json.abbr }}/schedule?dates={{ new Date().getFullYear() }}",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        0
      ],
      "id": "62c90429-06e6-45e5-aeaf-eb2746b0bdec"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst teamInfo = $('Parse Team').item.json;\nconst events = data.events || [];\nconst team = data.team || {};\nconst teamName = team.shortDisplayName || team.displayName || teamInfo.teamQuery;\n\nconst abbrevToName = { 'ANA': 'Ducks', 'ARI': 'Coyotes', 'BOS': 'Bruins', 'BUF': 'Sabres', 'CGY': 'Flames', 'CAR': 'Hurricanes', 'CHI': 'Blackhawks', 'COL': 'Avalanche', 'CBJ': 'Blue Jackets', 'DAL': 'Stars', 'DET': 'Red Wings', 'EDM': 'Oilers', 'FLA': 'Panthers', 'LA': 'Kings', 'MIN': 'Wild', 'MTL': 'Canadiens', 'NSH': 'Predators', 'NJ': 'Devils', 'NYI': 'Islanders', 'NYR': 'Rangers', 'OTT': 'Senators', 'PHI': 'Flyers', 'PIT': 'Penguins', 'SJ': 'Sharks', 'SEA': 'Kraken', 'STL': 'Blues', 'TB': 'Lightning', 'TOR': 'Maple Leafs', 'VAN': 'Canucks', 'VGK': 'Golden Knights', 'WSH': 'Capitals', 'WPG': 'Jets' };\n\nconst now = new Date();\nconst upcoming = [];\nfor (let i = 0; i < events.length; i++) {\n  const ev = events[i];\n  const gameDate = new Date(ev.date);\n  if (gameDate > now) {\n    upcoming.push({\n      opponent: ev.shortName || ev.name,\n      date: ev.date,\n      gameDate: gameDate\n    });\n  }\n  if (upcoming.length >= 3) break;\n}\n\nif (upcoming.length === 0) {\n  return { message: 'No upcoming games found for the ' + teamName + '.', games: [] };\n}\n\nconst formatGame = function(game) {\n  const d = game.gameDate;\n  const today = new Date();\n  const tomorrow = new Date(today);\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  \n  let dayStr = '';\n  if (d.toDateString() === today.toDateString()) {\n    dayStr = 'tonight';\n  } else if (d.toDateString() === tomorrow.toDateString()) {\n    dayStr = 'tomorrow';\n  } else {\n    dayStr = 'on ' + d.toLocaleDateString('en-US', { weekday: 'long' });\n  }\n  \n  const parts = game.opponent.split(' @ ');\n  let opponentAbbr = parts[0];\n  let homeAway = 'vs';\n  if (parts.length === 2) {\n    const abbr = teamInfo.abbr.toUpperCase();\n    if (parts[0] === abbr) {\n      opponentAbbr = parts[1];\n      homeAway = 'at the';\n    } else {\n      opponentAbbr = parts[0];\n      homeAway = 'the';\n    }\n  }\n  const opponent = abbrevToName[opponentAbbr] || opponentAbbr;\n  \n  return { opponent: opponent, homeAway: homeAway, dayStr: dayStr };\n};\n\nconst next = formatGame(upcoming[0]);\nlet message = 'The ' + teamName + ' play ' + next.homeAway + ' ' + next.opponent + ' ' + next.dayStr + '.';\n\nif (upcoming.length > 1) {\n  const after = formatGame(upcoming[1]);\n  message += ' After that, ' + after.homeAway + ' ' + after.opponent + ' ' + after.dayStr + '.';\n}\n\nreturn { message: message, team: teamName, games: upcoming };"
      },
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -100
      ],
      "id": "e1248de2-eb61-4c2a-84cd-9139c9cc8a51"
    },
    {
      "parameters": {
        "jsCode": "const errorData = items[0].json;\nlet errorMsg = errorData.message || errorData.error || 'Unknown error';\n\nif (errorMsg.indexOf('ECONNREFUSED') !== -1 || errorMsg.indexOf('ETIMEDOUT') !== -1) {\n  errorMsg = 'Cannot connect to ESPN. Try again later.';\n}\n\nreturn { message: 'Error getting schedule: ' + errorMsg, error: true };"
      },
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        100
      ],
      "id": "c01aeb8b-59da-4aa0-8fcf-1bb64235b034"
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        432,
        0
      ],
      "id": "cabea214-2bae-4564-b054-53dcbee408b5"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** espn-get-nhl-schedule\n**Description:** Gets upcoming NHL games for a specified team with opponent and date information.\n**version:** v1.0.0\n**id:** 1lTMx-UwUETW-tn9yHDrbQ\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/sports/espn-get-nhl-schedule)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        100
      ],
      "typeVersion": 1,
      "id": "dca269cb-1be8-470a-bfcd-3f5ccf3be9fb",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Team": {
      "main": [
        [
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schedule": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}