tools/productivity/notion-add-task/workflow.json
{
  "name": "notion_add_task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notion_add_task",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "webhookId": "notion_add_task",
      "notes": "Add a task to Notion. Required parameter: task (the task name). Optional parameter: due (due date like 'tomorrow', 'Friday', '2024-01-15'). Examples: 'add task buy groceries', 'add task call mom due tomorrow', 'remind me to submit report by Friday'.",
      "id": "5fe756ab-45fa-4d59-b8c3-c0d6d6e6f6e6"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.item.json.body || {};\nconst taskName = webhookData.task || webhookData.name || null;\nconst dueInput = webhookData.due || webhookData.date || null;\n\nif (!taskName) {\n  throw new Error('task parameter is required');\n}\n\nlet dueDate = null;\nif (dueInput) {\n  const input = dueInput.toLowerCase().trim();\n  const today = new Date();\n  \n  if (input === 'today') {\n    dueDate = today.toISOString().split('T')[0];\n  } else if (input === 'tomorrow') {\n    const tomorrow = new Date(today);\n    tomorrow.setDate(tomorrow.getDate() + 1);\n    dueDate = tomorrow.toISOString().split('T')[0];\n  } else if (['monday','tuesday','wednesday','thursday','friday','saturday','sunday'].indexOf(input) !== -1) {\n    const days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];\n    const targetDay = days.indexOf(input);\n    const currentDay = today.getDay();\n    let daysUntil = targetDay - currentDay;\n    if (daysUntil <= 0) daysUntil += 7;\n    const target = new Date(today);\n    target.setDate(target.getDate() + daysUntil);\n    dueDate = target.toISOString().split('T')[0];\n  } else if (input.match(/^\\d{4}-\\d{2}-\\d{2}$/)) {\n    dueDate = input;\n  } else if (input.match(/^\\d{1,2}\\/\\d{1,2}$/)) {\n    const parts = input.split('/');\n    const month = parts[0].padStart(2, '0');\n    const day = parts[1].padStart(2, '0');\n    dueDate = today.getFullYear() + '-' + month + '-' + day;\n  }\n}\n\nreturn [{ json: { taskName: taskName, dueDate: dueDate, hasDue: dueDate !== null } }];"
      },
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "id": "718658a3-a826-464a-8206-c37301df689e"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "${NOTION_DATABASE_ID}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Task name|title",
              "title": "={{ $json.taskName }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Create Task No Due",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        100,
        -100
      ],
      "credentials": {
        "notionApi": {
          "id": null,
          "name": "${NOTIONAPI_CREDENTIAL}"
        }
      },
      "notes": "PARAMETERIZE:\n- databaseId: Your Notion task database\n  Find: In URL when viewing database (notion.so/{workspace}/{DATABASE_ID}?v=...)\n\n- titleProperty: Title column name in your database\n  Find: Open database, check the column header name\n  Default: \"Task name\"",
      "id": "b8a59a0e-9f6e-4f86-b485-f3c81eaea30e"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "${NOTION_DATABASE_ID}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Task name|title",
              "title": "={{ $json.taskName }}"
            },
            {
              "key": "Due date|date",
              "date": "={{ $json.dueDate }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Create Task With Due",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        100,
        100
      ],
      "credentials": {
        "notionApi": {
          "id": null,
          "name": "${NOTIONAPI_CREDENTIAL}"
        }
      },
      "notes": "PARAMETERIZE:\n- databaseId: Your Notion task database\n  Find: In URL when viewing database (notion.so/{workspace}/{DATABASE_ID}?v=...)\n\n- titleProperty: Title column name in your database\n  Find: Open database, check the column header name\n  Default: \"Task name\"\n\n- dueDateProperty: Due date column name\n  Find: Open database, check the date column header\n  Default: \"Due date\"",
      "id": "379033a1-8fc3-4797-a32e-717d1b44caae"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-due",
              "leftValue": "={{ $json.hasDue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Due Date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ],
      "id": "420730b4-fb73-4a0a-a537-ea98808217d9"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Input').item.json;\nconst taskName = input.taskName;\nconst dueDate = input.dueDate;\n\nlet message = 'Added task: ' + taskName;\nif (dueDate) {\n  const d = new Date(dueDate + 'T12:00:00');\n  const formatted = d.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric' });\n  message += ', due ' + formatted;\n}\nmessage += '.';\n\nreturn { message: message, task: taskName, dueDate: dueDate };"
      },
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        308,
        0
      ],
      "id": "9e37c613-65c2-4997-b1c7-8ba5918aee38"
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        516,
        0
      ],
      "id": "65ab436f-dded-4872-bbd1-a9deb820f99a"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** notion-add-task\n**Description:** Adds a task to Notion with optional due date parsing (supports today, tomorrow, day names, and specific dates).\n**version:** v1.0.0\n**id:** mPBKmNoVB28MvIvZZH-B4Q\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/productivity/notion-add-task)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        100
      ],
      "typeVersion": 1,
      "id": "8a55e2ab-a766-4259-85b6-62fdf177b103",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Has Due Date?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Due Date?": {
      "main": [
        [
          {
            "node": "Create Task With Due",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task No Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task No Due": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task With Due": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}