tools/sports/espn-nhl/workflow.json
{
  "name": "espn_nhl",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espn_nhl",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "espn_nhl",
      "notes": "NHL data suite - scores, schedule, and standings. Parameters: action (required) - 'scores', 'schedule', or 'standings'; team (optional) - team name like 'Canucks' or 'TOR'. Examples: 'NHL scores', 'when do the Bruins play next', 'NHL standings'.",
      "id": "43e59685-0e5a-4d9a-a947-ae0a6aa9842a"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\n\n// Handle various input formats\nlet data;\nif (typeof body === 'string') {\n  data = JSON.parse(body);\n} else if (typeof body === 'object') {\n  data = body;\n} else {\n  data = $input.item.json;\n}\n\nconst action = (data.action || 'scores').toLowerCase();\nconst teamQuery = data.team ? data.team.toLowerCase() : null;\n\n// NHL team abbreviations lookup\nconst teams = {\n  'ducks': 'ana', 'anaheim': 'ana',\n  'coyotes': 'ari', 'arizona': 'ari',\n  'bruins': 'bos', 'boston': 'bos',\n  'sabres': 'buf', 'buffalo': 'buf',\n  'flames': 'cgy', 'calgary': 'cgy',\n  'hurricanes': 'car', 'carolina': 'car',\n  'blackhawks': 'chi', 'chicago': 'chi',\n  'avalanche': 'col', 'colorado': 'col',\n  'blue jackets': 'cbj', 'columbus': 'cbj',\n  'stars': 'dal', 'dallas': 'dal',\n  'red wings': 'det', 'detroit': 'det',\n  'oilers': 'edm', 'edmonton': 'edm',\n  'panthers': 'fla', 'florida': 'fla',\n  'kings': 'la', 'los angeles': 'la',\n  'wild': 'min', 'minnesota': 'min',\n  'canadiens': 'mtl', 'montreal': 'mtl', 'habs': 'mtl',\n  'predators': 'nsh', 'nashville': 'nsh',\n  'devils': 'nj', 'new jersey': 'nj',\n  'islanders': 'nyi', 'new york islanders': 'nyi',\n  'rangers': 'nyr', 'new york rangers': 'nyr',\n  'senators': 'ott', 'ottawa': 'ott',\n  'flyers': 'phi', 'philadelphia': 'phi',\n  'penguins': 'pit', 'pittsburgh': 'pit',\n  'sharks': 'sj', 'san jose': 'sj',\n  'kraken': 'sea', 'seattle': 'sea',\n  'blues': 'stl', 'st louis': 'stl', 'st. louis': 'stl',\n  'lightning': 'tb', 'tampa': 'tb', 'tampa bay': 'tb',\n  'maple leafs': 'tor', 'leafs': 'tor', 'toronto': 'tor',\n  'canucks': 'van', 'vancouver': 'van',\n  'golden knights': 'vgk', 'vegas': 'vgk',\n  'capitals': 'wsh', 'washington': 'wsh', 'caps': 'wsh',\n  'jets': 'wpg', 'winnipeg': 'wpg'\n};\n\nlet abbr = null;\nif (teamQuery) {\n  abbr = teams[teamQuery] || teamQuery;\n  if (abbr.length > 3) abbr = null;\n}\n\nreturn [{ json: { action, teamQuery, abbr } }];"
      },
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "id": "54b0472b-a53d-4ee9-b3eb-032c15164350"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "scores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "scores"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "schedule"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "standings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "standings"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        0
      ],
      "id": "97cb6304-0b77-4843-bec7-f9eff8ce6078"
    },
    {
      "parameters": {
        "url": "https://site.api.espn.com/apis/site/v2/sports/hockey/nhl/scoreboard",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -200
      ],
      "id": "b3ff67de-5cbb-4a70-8767-6a7b4a93c20a"
    },
    {
      "parameters": {
        "url": "=https://site.api.espn.com/apis/site/v2/sports/hockey/nhl/teams/{{ $('Parse Parameters').item.json.abbr }}/schedule?dates={{ new Date().getFullYear() }}",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "a63dd510-ceca-4f75-bf46-ac12f9252bda"
    },
    {
      "parameters": {
        "url": "https://site.web.api.espn.com/apis/v2/sports/hockey/nhl/standings",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "name": "Get Standings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "id": "60bc0b7d-e782-42e3-bed0-c2d383678dc8"
    },
    {
      "parameters": {
        "jsCode": "const espnData = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst teamFilter = params.teamQuery;\n\nconst events = espnData.events || [];\nconst games = [];\n\nconst formatPeriod = (period, isOT) => {\n  if (isOT || period > 3) return 'overtime';\n  if (period === 1) return '1st period';\n  if (period === 2) return '2nd period';\n  if (period === 3) return '3rd period';\n  return 'in progress';\n};\n\nfor (const event of events) {\n  const competition = event.competitions[0];\n  const homeTeam = competition.competitors.find(c => c.homeAway === 'home');\n  const awayTeam = competition.competitors.find(c => c.homeAway === 'away');\n  const status = event.status;\n  \n  games.push({\n    away: awayTeam.team.abbreviation,\n    awayName: awayTeam.team.displayName,\n    awayScore: parseInt(awayTeam.score) || 0,\n    home: homeTeam.team.abbreviation,\n    homeName: homeTeam.team.displayName,\n    homeScore: parseInt(homeTeam.score) || 0,\n    status: status.type.description,\n    period: status.period || 0,\n    clock: status.displayClock || '',\n    isOT: (status.type.shortDetail || '').includes('OT')\n  });\n}\n\nlet filteredGames = games;\nif (teamFilter) {\n  filteredGames = games.filter(g => \n    g.homeName.toLowerCase().includes(teamFilter) ||\n    g.awayName.toLowerCase().includes(teamFilter) ||\n    g.home.toLowerCase() === teamFilter ||\n    g.away.toLowerCase() === teamFilter\n  );\n}\n\nlet message = '';\nif (filteredGames.length === 0 && teamFilter) {\n  message = `No games found for ${teamFilter}.`;\n} else if (filteredGames.length === 0) {\n  message = 'No NHL games scheduled right now.';\n} else {\n  const voiceGames = filteredGames.slice(0, 5);\n  const voiceParts = [];\n  \n  for (const game of voiceGames) {\n    const awayShort = game.awayName.split(' ').pop();\n    const homeShort = game.homeName.split(' ').pop();\n    \n    if (game.status === 'Scheduled' || game.status === 'Pre-Game') {\n      voiceParts.push(`${awayShort} at ${homeShort}`);\n    } else if (game.status === 'Final') {\n      const otText = game.isOT ? ' in overtime' : '';\n      if (game.awayScore > game.homeScore) {\n        voiceParts.push(`${awayShort} beat ${homeShort} ${game.awayScore} to ${game.homeScore}${otText}. Final.`);\n      } else {\n        voiceParts.push(`${homeShort} beat ${awayShort} ${game.homeScore} to ${game.awayScore}${otText}. Final.`);\n      }\n    } else {\n      const periodText = formatPeriod(game.period, game.isOT);\n      const clockText = game.clock && game.clock !== '0:00' ? `, ${game.clock} left` : '';\n      voiceParts.push(`${awayShort} ${game.awayScore}, ${homeShort} ${game.homeScore}. ${periodText}${clockText}.`);\n    }\n  }\n  \n  message = voiceParts.join(' ');\n  if (filteredGames.length > 5) {\n    message += ` Plus ${filteredGames.length - 5} more games.`;\n  }\n}\n\nreturn { message, action: 'scores', games: filteredGames };"
      },
      "name": "Format Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -200
      ],
      "id": "8b69ee70-c31e-4252-8476-1fc45eeac7c1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst params = $('Parse Parameters').item.json;\nconst events = data.events || [];\nconst team = data.team || {};\nconst teamName = team.shortDisplayName || team.displayName || params.teamQuery;\n\nconst abbrevToName = { 'ANA': 'Ducks', 'ARI': 'Coyotes', 'BOS': 'Bruins', 'BUF': 'Sabres', 'CGY': 'Flames', 'CAR': 'Hurricanes', 'CHI': 'Blackhawks', 'COL': 'Avalanche', 'CBJ': 'Blue Jackets', 'DAL': 'Stars', 'DET': 'Red Wings', 'EDM': 'Oilers', 'FLA': 'Panthers', 'LA': 'Kings', 'MIN': 'Wild', 'MTL': 'Canadiens', 'NSH': 'Predators', 'NJ': 'Devils', 'NYI': 'Islanders', 'NYR': 'Rangers', 'OTT': 'Senators', 'PHI': 'Flyers', 'PIT': 'Penguins', 'SJ': 'Sharks', 'SEA': 'Kraken', 'STL': 'Blues', 'TB': 'Lightning', 'TOR': 'Maple Leafs', 'VAN': 'Canucks', 'VGK': 'Golden Knights', 'WSH': 'Capitals', 'WPG': 'Jets' };\n\nconst now = new Date();\nconst upcoming = [];\nfor (let i = 0; i < events.length; i++) {\n  const ev = events[i];\n  const gameDate = new Date(ev.date);\n  if (gameDate > now) {\n    upcoming.push({\n      opponent: ev.shortName || ev.name,\n      date: ev.date,\n      gameDate: gameDate\n    });\n  }\n  if (upcoming.length >= 3) break;\n}\n\nif (upcoming.length === 0) {\n  return { message: 'No upcoming games found for the ' + teamName + '.', action: 'schedule', games: [] };\n}\n\nconst formatGame = function(game) {\n  const d = game.gameDate;\n  const today = new Date();\n  const tomorrow = new Date(today);\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  \n  let dayStr = '';\n  if (d.toDateString() === today.toDateString()) {\n    dayStr = 'tonight';\n  } else if (d.toDateString() === tomorrow.toDateString()) {\n    dayStr = 'tomorrow';\n  } else {\n    dayStr = 'on ' + d.toLocaleDateString('en-US', { weekday: 'long' });\n  }\n  \n  const parts = game.opponent.split(' @ ');\n  let opponentAbbr = parts[0];\n  let homeAway = 'vs';\n  if (parts.length === 2) {\n    const abbr = params.abbr ? params.abbr.toUpperCase() : '';\n    if (parts[0] === abbr) {\n      opponentAbbr = parts[1];\n      homeAway = 'at the';\n    } else {\n      opponentAbbr = parts[0];\n      homeAway = 'the';\n    }\n  }\n  const opponent = abbrevToName[opponentAbbr] || opponentAbbr;\n  \n  return { opponent: opponent, homeAway: homeAway, dayStr: dayStr };\n};\n\nconst next = formatGame(upcoming[0]);\nlet message = 'The ' + teamName + ' play ' + next.homeAway + ' ' + next.opponent + ' ' + next.dayStr + '.';\n\nif (upcoming.length > 1) {\n  const after = formatGame(upcoming[1]);\n  message += ' After that, ' + after.homeAway + ' ' + after.opponent + ' ' + after.dayStr + '.';\n}\n\nreturn { message, action: 'schedule', team: teamName, games: upcoming };"
      },
      "name": "Format Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "246fc6c9-3c48-4a5e-b164-1ff3dc13ac46"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst children = data.children || [];\n\nif (children.length === 0) {\n  return { message: 'No standings data available.', action: 'standings', standings: [] };\n}\n\nconst standings = [];\nfor (const conf of children) {\n  for (const div of (conf.standings?.entries || [])) {\n    standings.push({\n      team: div.team?.displayName || 'Unknown',\n      abbr: div.team?.abbreviation || '',\n      wins: 0,\n      losses: 0,\n      otl: 0,\n      points: 0,\n      rank: 0\n    });\n  }\n}\n\n// Parse from entries structure\nconst allEntries = [];\nfor (const conf of children) {\n  const entries = conf.standings?.entries || [];\n  for (const entry of entries) {\n    const stats = entry.stats || [];\n    const getStat = (name) => {\n      const s = stats.find(st => st.name === name);\n      return s ? s.value : 0;\n    };\n    allEntries.push({\n      team: entry.team?.shortDisplayName || entry.team?.displayName || 'Unknown',\n      abbr: entry.team?.abbreviation || '',\n      points: getStat('points'),\n      wins: getStat('wins'),\n      losses: getStat('losses'),\n      otLosses: getStat('otLosses')\n    });\n  }\n}\n\n// Sort by points\nallEntries.sort((a, b) => b.points - a.points);\n\nconst top5 = allEntries.slice(0, 5);\nconst standingsParts = top5.map((t, i) => `${i + 1}. ${t.team}, ${t.points} points`);\nconst message = 'NHL standings: ' + standingsParts.join(', ') + '.';\n\nreturn { message, action: 'standings', standings: allEntries };"
      },
      "name": "Format Standings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ],
      "id": "f6097bc7-c333-4c78-aae7-1f57de457fed"
    },
    {
      "parameters": {
        "jsCode": "const params = $('Parse Parameters').item.json;\nreturn { message: `Schedule requires a team. Try: 'when do the Canucks play next'`, error: true, action: params.action };"
      },
      "name": "Schedule No Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "id": "73fa3cca-66ed-41ce-85df-5d374cc02b63"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.item.json;\nlet errorMsg = errorData.message || errorData.error || 'Unknown error';\n\nif (errorMsg.includes('ECONNREFUSED') || errorMsg.includes('ETIMEDOUT')) {\n  errorMsg = 'Cannot connect to ESPN. Try again later.';\n}\n\nreturn { message: `Error: ${errorMsg}`, error: true };"
      },
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "id": "7ba94263-8cc3-4d91-995a-9b3aed426ea9"
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "08ca8fe3-df63-449a-8b08-c69790407548"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Parse Parameters').item.json.abbr }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "name": "Has Team?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        100
      ],
      "id": "366ec49c-45f7-4bdf-a6e2-9d4d263045e3"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** espn-nhl\n**Description:** Get NHL scores, schedules, and standings with optional team filtering.\n**version:** v1.0.0\n**id:** y_T38DT5FY2AO8iZwWQ9CQ\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/sports/espn-nhl)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -288
      ],
      "typeVersion": 1,
      "id": "c65e0d50-29d6-45e1-9cba-68e39193eae8",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Team?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Standings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule No Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Team?": {
      "main": [
        [
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule No Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scores": {
      "main": [
        [
          {
            "node": "Format Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schedule": {
      "main": [
        [
          {
            "node": "Format Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Standings": {
      "main": [
        [
          {
            "node": "Format Standings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Scores": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schedule": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Standings": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule No Team": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}